/* hum.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    text-align: center;
    color: #333;
}


/* Header Container */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5f9ea0;
    color: white;
    text-align: left;
    padding: 10px 20px;
}

/* Title Styling */
.header-container h1 {
    margin: 0;
    font-size: 2.5em;
    flex: 1;
    text-align: center;
}

/* Hamburger Menu */
.hamburger-menu button {
    background-color: transparent;
    color: white;
    font-size: 2em;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
.menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: rgba(95, 158, 160, 0.95);  /* Transparent teal */
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    padding: 10px;
    z-index: 10;
    border: 2px solid #4a8b8d;  /* Optional border */
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.2em;
}

.menu a:hover {
    background-color: #4a8b8d;
    color: #ffebcd;
}
.container {
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #5f9ea0;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
}

.form-group label {
    font-size: 1.2em;
    font-weight: 600;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
}

textarea {
    height: 150px;
}

button {
    background-color: #5f9ea0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background-color: #5f9ea0;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

a:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .form-group label,
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group textarea {
        width: 100%;
    }
}
