<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/result.css}" />
</head>
<body>

<!-- Header Container with Hamburger Menu -->
<div class="header-container">
    <div class="hamburger-menu">
        <button onclick="toggleMenu()">☰</button>
        <div class="menu" id="menu-content">

            <th:block th:if="${role == 'USER'}">
                <a href="/welcome">HOME</a>
                <a href="about">ABOUT</a>
                <a href="/contact">CONTACT</a>
                <a href="index">MEDICAL DIAGNOSIS</a>
                <a href="/calendar">BOOK APPOINTMENT</a>
                <a href="/psychologists">PSYCHOLOGISTS PER LOCATION</a>
                <a href="/logout">LOGOUT</a>
            </th:block>

            <th:block th:if="${role == 'ADMIN'}">
                <a href="/welcome">HOME</a>
                <a href="/stats"  class="highlighted-text">STATISTICS</a>
                <a href="/psychologists">PSYCHOLOGISTS PER LOCATION</a>
                <a href="/patients">PATIENTS</a>
                <a href="/stats/sentiment/dominant">MOST DOMINANT SENTIMENT</a>
                <a href="/stats/sentiment/percentage">PERCENTANGE BY GENDER</a>
                <a href="/logout">LOGOUT</a>
            </th:block>

        </div>
    </div>
</div>
<h1 style="text-align: center;">Psychological Insights Platform </h1>
</div>
<br><br>

<!-- Display error message if login fails -->
<p th:if="${error}" th:text="${error}" style="color: red;"></p>

<!-- JavaScript for Menu Toggle -->
<script>
    function toggleMenu() {
        const menu = document.getElementById("menu-content");
        menu.style.display = menu.style.display === "none" || menu.style.display === "" ? "block" : "none";
    }
</script>

<div class="locations-table">
    <h1>Locations</h1>

    <!-- Locations table -->
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>City</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through the list of locations and display each one in a new row -->
        <tr th:each="location : ${locations}">
            <td th:text="${location.id}"></td>
            <td th:text="${location.city}"></td>
        </tr>
        </tbody>
    </table>
</div>
<footer>
    &copy; 2024 Emotion Analysis System. All rights reserved.
</footer>
</body>
</html>