<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/result.css}" />
</head>
<body>

<div class="locations-table">
    <h1>Locations</h1>

    <!-- Locations table -->
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>City</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through the list of locations and display each one in a new row -->
        <tr th:each="location : ${locations}">
            <td th:text="${location.id}"></td>
            <td th:text="${location.city}"></td>
        </tr>
        </tbody>
    </table>
</div>
<footer>
    &copy; 2024 Emotion Analysis System. All rights reserved.
</footer>
</body>
</html>
