<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Αποτέλεσμα Ανάλυσης</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/analysis.css}" />
</head>
<body>
<div class="container">
    <h1>Analysis Result</h1>
    <p><strong>Name:</strong> <span th:text="${firstName}"></span></p>
    <p><strong>LastName:</strong> <span th:text="${lastName}"></span></p>
    <p><strong>Predicted sentiment:</strong> <span th:text="${emotion}"></span></p>

    <h2>Medical Diadnosis</h2>
    <p>
        Dear <span th:text="${firstName}"></span>,
        <span th:text="${diagnosis}"></span>
    </p>

    <h2>Relaxation techniques</h2>
    <p>
        <span th:text="${techniques}"></span>
    </p>

    <h2>Recommended Health Professionals</h2>
    <ul>
        <li th:each="professional : ${professionals}" class="resource-item">
            <span> Name: </span><span th:text="${professional.name}"></span>
            <span> Specialization: </span><span th:text="${professional.specialization}"></span> ************
            <span> Phone: </span><span th:text="${professional.getPhone()}"></span> ************
            <span> Email: </span><span th:text="${professional.specialization}"></span> ************
            <span> City: </span><span th:text="${professional.getLocation().getCity()}"></span>
        </li>
    </ul>
</div>
<footer>
    &copy; 2024 Emotion Analysis System. All rights reserved.
</footer>
</body>
</html>
