<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Αποτέλεσμα Ανάλυσης</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/analysis.css}" />
</head>
<body>
<!-- Header Container -->
<div class="header-container">
    <!-- Hamburger Menu Button -->
    <div class="hamburger-menu">
        <button onclick="toggleMenu()">☰</button>
        <div class="menu" id="menu-content">
                <a href="/welcome">HOME</a>
                <a href="about">ABOUT</a>
                <a href="/contact" class="highlighted-text">CONTACT</a>
                <a href="index" class="highlighted-text">MEDICAL DIAGNOSIS</a>
                <a href="/calendar">BOOK APPOINTMENT</a>
                <a href="/psychologists">PSYCHOLOGISTS PER LOCATION</a>
                <a href="/logout">LOGOUT</a>
        </div>
    </div>
</div>
<div class="container">
    <h1>Analysis Result</h1>
    <p><strong>Name:</strong> <span th:text="${firstName}"></span></p>
    <p><strong>LastName:</strong> <span th:text="${lastName}"></span></p>
    <p><strong>Predicted sentiment:</strong> <span th:text="${emotion}"></span></p>

    <h2>Medical Diagnosis</h2>
    <p style="font-style: italic; font-size: 22px">

    Dear <span th:text="${firstName}"></span>,
        <span th:text="${diagnosis}"></span>
    </p>

    <h2>Relaxation Techniques</h2>
    <p style="font-style: italic; font-size: 22px">
        <span th:text="${techniques}"></span>
    </p>

    <h2>Recommended Health Professionals</h2>
    <ul>
        <li th:each="professional : ${professionals}">
            <div class="professional-item">
                <span class="label">Name:</span>
                <span class="value" th:text="${professional.name}"></span>
            </div>
            <div class="professional-item">
                <span class="label">Specialization:</span>
                <span class="value" th:text="${professional.specialization}"></span>
            </div>
            <div class="professional-item">
                <span class="label">Phone:</span>
                <span class="value" th:text="${professional.getPhone()}"></span>
            </div>
            <div class="professional-item">
                <span class="label">Email:</span>
                <span class="value" th:text="${professional.getEmail()}"></span>
            </div>
            <div class="professional-item">
                <span class="label">City:</span>
                <span class="value" th:text="${professional.getLocation().getCity()}"></span>
            </div>
        </li>
    </ul>

</div>
<script>
    function toggleMenu() {
        const menu = document.getElementById("menu-content");
        menu.style.display = menu.style.display === "block" ? "none" : "block";
    }
</script>
<footer>
    &copy; 2024 Emotion Analysis System. All rights reserved.
</footer>
</body>
</html>
