<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/result.css}" />
</head>
<body>

<!-- Header Container with Title -->
<div class="header-container">
    <div class="hamburger-menu">
        <button onclick="toggleMenu()">☰</button>
        <div class="menu" id="menu-content">
            <a href="/welcome">HOME</a>

            <th:block th:if="${role == 'USER'}">
                <a href="index">MEDICAL DIAGNOSIS</a>
                <a href="/calendar">BOOK APPOITMENT</a>
                <a href="/psychologists">PSYCHOLOGISTS PER LOCATION</a>
            </th:block>

            <th:block th:if="${role == 'ADMIN'}">
                <a href="/calendar2">APPOINTMENTS</a>
                <a href="/calendar">CONFIRM APPOITMENT</a>
                <a href="/stats">STATS</a>
            </th:block>
            <a href="/logout">LOGOUT</a>
            <!-- Example existing link -->
        </div>
    </div>
    <h1 style="text-align: center;">Psychological Insights Platform</h1>
</div>

<!-- JavaScript for Menu Toggle -->
<script>
    function toggleMenu() {
        const menu = document.getElementById("menu-content");
        menu.style.display = menu.style.display === "none" || menu.style.display === "" ? "block" : "none";
    }
</script>
<br>

<h1>Patients</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Location</th>
        <th>Comment</th>
        <th>Registration Day</th>
    </tr>
    </thead>
    <tbody>
    <!-- Show "No patients found" if the list is empty -->
    <tr th:if="${#lists.isEmpty(patients)}">
        <td colspan="7" class="no-patients">No patients found</td>
    </tr>
    <!-- Loop through each patient -->
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.firstName}"></td>
        <td th:text="${patient.lastName}"></td>
        <td th:text="${patient.gender}"></td>
        <td th:text="${patient.location.city}"></td>
        <td th:text="${patient.comment}"></td>
        <td th:text="${patient.getRegistrationDay()}"></td>
    </tr>
    </tbody>
</table>
<footer>
    &copy; 2024 Emotion Analysis System. All rights reserved.
</footer>
</body>
</html>
