<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical Experts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/result.css}" />
</head>
<body>

<!-- Header Container with Title -->
<div class="header-container">
    <div class="hamburger-menu">
        <button onclick="toggleMenu()">☰</button>
        <div class="menu" id="menu-content">
            <a href="/welcome">HOME</a>

            <th:block th:if="${role == 'USER'}">
                <a href="/about">ABOUT</a>
                <a href="/contact">CONTACT</a>
                <a href="index">MEDICAL DIAGNOSIS</a>
            </th:block>

            <!-- Visible only for admins -->
            <th:block th:if="${role == 'ADMIN'}">
                <a href="/stats">BACK</a>
            </th:block>
            <a href="/logout">LOGOUT</a>
            <!-- Example existing link -->
        </div>
    </div>
    <h1 style="text-align: center;">Psychological Insights Platform</h1>
</div>


<h1 style="text-align: center;">Psychologists</h1>

<!-- Προβολή της λίστας των ψυχολόγων σε πίνακα -->
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Specialization</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
    <!-- Έλεγχος αν η λίστα των ψυχολόγων είναι κενή -->
    <tr th:if="${#lists.isEmpty(psychologists)}">
        <td colspan="7" class="no-patients">No psychologists found</td>
    </tr>
    <!-- Επανάληψη για κάθε ψυχολόγο -->
    <tr th:each="psychologist : ${psychologists}">
        <td th:text="${psychologist.id}"></td>
        <td th:text="${psychologist.name}"></td>
        <td th:text="${psychologist.specialization}"></td>
        <td th:text="${psychologist.phone}"></td>
        <td th:text="${psychologist.email}"></td>
        <td th:text="${psychologist.location.city}"></td>
    </tr>
    </tbody>
</table>

<!-- JavaScript for Menu Toggle -->
<script>
    function toggleMenu() {
        const menu = document.getElementById("menu-content");
        menu.style.display = menu.style.display === "none" || menu.style.display === "" ? "block" : "none";
    }
</script>
<footer>
    &copy; 2024 Emotion Analysis System. All rights reserved.
</footer>
</body>
</html>
