<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Percentage by Gender</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/result.css}" />

</head>
<body>

<!-- Header Container with Title -->
<div class="header-container">
    <div class="hamburger-menu">
        <button onclick="toggleMenu()">☰</button>
        <div class="menu" id="menu-content">

                <a href="/welcome">HOME</a>
                <a href="/stats"  class="highlighted-text">STATISTICS</a>
                <a href="/psychologists">PSYCHOLOGISTS PER LOCATION</a>
                <a href="/patients">PATIENTS</a>
                <a href="/stats/sentiment/dominant">MOST DOMINANT SENTIMENT</a>
                <a href="/stats/sentiment/percentage">PERCENTANGE BY GENDER</a>
                <a href="/logout">LOGOUT</a>

        </div>
    </div>
    <h1 style="text-align: center;">Psychological Insights Platform</h1>
</div>

<script>
    function toggleMenu() {
        console.log('Menu toggle clicked');
        const menu = document.getElementById("menu-content");
        console.log('Menu element:', menu);
        menu.style.display = menu.style.display === "none" || menu.style.display === "" ? "block" : "none";
    }
</script>

<br>
<h2>Sentiment Percentage by Gender</h2>

<table>
    <thead>
    <tr>
        <th>Gender</th>
        <th>Sentiment</th>
        <th>Percentage (%)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${sentimentData}">
        <td th:text="${row[0]}"></td> <!-- Gender -->
        <td th:text="${row[1]}"></td> <!-- Sentiment -->
        <td th:text="${row[2]}"></td> <!-- Percentage -->
    </tr>
    </tbody>
</table>
<footer>
    &copy; 2024 Emotion Analysis System. All rights reserved.
</footer>
</body>
</html>