<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/result.css}" />

</head>
<body>

<!-- Header Container with Hamburger Menu -->
<div class="header-container">
    <div class="hamburger-menu">
        <button onclick="toggleMenu()">☰</button>
        <div class="menu" id="menu-content">

            <th:block th:if="${role == 'USER'}">
                <a href="/welcome" class="highlighted-text">HOME</a>
                <a href="about">ABOUT</a>
                <a href="/contact">CONTACT</a>
                <a href="index">MEDICAL DIAGNOSIS</a>
                <a href="/calendar">BOOK APPOINTMENT</a>
                <a href="/psychologists">PSYCHOLOGISTS PER LOCATION</a>
                <a href="/logout">LOGOUT</a>
            </th:block>

            <th:block th:if="${role == 'ADMIN'}">
                <a href="/welcome" class="highlighted-text">HOME</a>
                <a href="/calendar2">APPOINTMENTS</a>
                <a href="/stats">STATISTICS</a>
                <a href="/administration">ADMINISTRATION</a>
                <a href="/logout">LOGOUT</a>
            </th:block>

        </div>
    </div>
    <h1>Psychological Insights Platform</h1>
</div>

<!-- Display error message if login fails -->
<p th:if="${error}" th:text="${error}" style="color: red;"></p>

<!-- Image Container -->
<div class="image-container">
    <img src="images/page5.jpg" alt="Psychological Insights" />
</div>

<!-- JavaScript for Menu Toggle -->
<script>
    function toggleMenu() {
        const menu = document.getElementById("menu-content");
        menu.style.display = menu.style.display === "none" || menu.style.display === "" ? "block" : "none";
    }
</script>

<footer>
    &copy; 2024 Emotion Analysis System. All rights reserved.
</footer>
</body>
</html>
